---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: white;
$text-color: black;
$brand-color: #4CAF50;
.post-content {
    font-family: Georgia, "Times New Roman", serif;
    word-wrap: break-word;
}
@import "minima";
pre code {
    word-wrap: normal;
}

pre, code {
    background-color: #ECEFF1;
}

.highlighter-rouge .highlight {
    background-color: #ECEFF1;
}

.header-description {
    font-size: 12px;
    margin-right: 10px;
}

.site-header {
    background-color: #388E3C;
    color: white;
    border-top: none;
    border-bottom: none;
}

.site-title, .site-title:visited {
    color: white;
}

.site-nav .page-link {
    color: white;
}

@include media-query($on-palm) {
.site-nav .trigger {
    color: black;
}
.site-nav .page-link {
    color: black;
}
}

blockquote {
    color: black;
}

.page-content {
    position: relative;
}

.sidebar-posts {
    font-size: 14px;
    display: none;
}

@media screen and (min-width: 1210px) {
.sidebar-posts {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 250px;
    display: inherit;
}
}

.sidebar-posts ul {
    list-style-type: none;
    margin: 0;
}

.sidebar-posts li {
    border-bottom: 1px solid #ddd;
}

h3 {
    color: #546E7A;
}
